<a href="https://colab.research.google.com/github/donkariuki/Africa-Data-School/blob/main/Data_processing_and_feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyforest

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyforest
  Downloading pyforest-1.1.0.tar.gz (15 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pyforest
  Building wheel for pyforest (setup.py) ... done
  Created wheel for pyforest: filename=pyforest-1.1.0-py2.py3-none-any.whl size=14606 sha256=c1663063354012efbd705ddd3586331d978cfd8f3316ed6900bd74f87c242353
  Stored in directory: /root/.cache/pip/wheels/d5/1a/3e/6193fe1c56168f5df4aef57d8411033ba4611881135d495727
Successfully built pyforest
Installing collected packages: pyforest
Successfully installed pyforest-1.1.0

In [2]:
import pyforest

In [3]:
penguin= sns.load_dataset('penguins')

In [4]:
penguin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [5]:
penguin.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [6]:
penguin['bill_length_mm'].fillna((penguin['bill_length_mm'].mean()), inplace= True)
penguin['bill_depth_mm'].fillna((penguin['bill_depth_mm'].median()), inplace= True)
penguin['flipper_length_mm'].fillna((penguin['flipper_length_mm'].mean()), inplace= True)
penguin['body_mass_g'].fillna((penguin['body_mass_g'].mean()), inplace= True)

penguin['sex'].fillna((penguin['sex'].value_counts().index[0]), inplace= True)

In [7]:
penguin.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [8]:
penguin.sex.value_counts()

Male      179
Female    165
Name: sex, dtype: int64

In [9]:
penguin.sex= penguin.sex.astype('category')

In [10]:
penguin.island= penguin.island.astype('category')
penguin.species= penguin.species.astype('category')

In [11]:
penguin.dtypes

species              category
island               category
bill_length_mm        float64
bill_depth_mm         float64
flipper_length_mm     float64
body_mass_g           float64
sex                  category
dtype: object

In [12]:
category_penguin= penguin.drop(['bill_length_mm','bill_depth_mm','flipper_length_mm','body_mass_g'], axis= 1)

In [13]:
category_penguin

    species     island     sex
0    Adelie  Torgersen    Male
1    Adelie  Torgersen  Female
2    Adelie  Torgersen  Female
3    Adelie  Torgersen    Male
4    Adelie  Torgersen  Female
..      ...        ...     ...
339  Gentoo     Biscoe    Male
340  Gentoo     Biscoe  Female
341  Gentoo     Biscoe    Male
342  Gentoo     Biscoe  Female
343  Gentoo     Biscoe    Male

[344 rows x 3 columns]

In [14]:
category_penguin['species_cat']= category_penguin['species'].cat.codes
category_penguin['island_cat']= category_penguin['island'].cat.codes
category_penguin['sex_cat']= category_penguin['sex'].cat.codes

In [15]:
category_penguin.head()

  species     island     sex  species_cat  island_cat  sex_cat
0  Adelie  Torgersen    Male            0           2        1
1  Adelie  Torgersen  Female            0           2        0
2  Adelie  Torgersen  Female            0           2        0
3  Adelie  Torgersen    Male            0           2        1
4  Adelie  Torgersen  Female            0           2        0