<a href="https://colab.research.google.com/github/donkariuki/Africa-Data-School/blob/main/ExploratoryDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()
import io
from google.colab import files
uploaded= files.upload()

Saving IT Salary Survey EU  2020.csv to IT Salary Survey EU  2020 (2).csv

In [2]:
df = pd.read_csv(io.BytesIO(uploaded['IT Salary Survey EU  2020.csv']))
df.head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN

In [3]:
#Explotary Data Analysis
#display last 5 rows
df.tail()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
1248,18/01/2021 15:05:50,31.0,Male,Berlin,Backend Developer,9,5,Senior,Java,"Python, Javascript / Typescript, Java / Scala,...",...,72000,26,Full-time employee,Unlimited contract,English,51-100,Product,Yes,NaN,NaN
1249,18/01/2021 17:46:02,33.0,Male,Berlin,Researcher/ Consumer Insights Analyst,10,1.5,Senior,consumer analysis,NaN,...,2500,unlimited,Full-time employee,Unlimited contract,English,1000+,Product,No,NaN,0
1250,18/01/2021 23:20:35,39.0,Male,Munich,IT Operations Manager,15,2,Lead,PHP,"Python, C/C++, Javascript / Typescript, Java /...",...,NaN,28,Full-time employee,Unlimited contract,English,101-1000,eCommerce,No,NaN,NaN
1251,19/01/2021 10:17:58,26.0,Male,Saarbrücken,Frontend Developer,7,7,Middle,JavaScript,"Javascript / Typescript, Docker, HTML, CSS; Ad...",...,36400,27,Full-time employee,Unlimited contract,German,101-1000,Product,No,NaN,0
1252,19/01/2021 12:01:11,26.0,Male,Berlin,DevOps,2,2,Middle,yaml,"Python, AWS, Kubernetes, Docker, terraform, an...",...,0,30,Full-time employee,Unlimited contract,English,51-100,Startup,No,30.0,600

In [4]:
#checking data types
df.dtypes

Timestamp                                                                                                                   object
Age                                                                                                                        float64
Gender                                                                                                                      object
City                                                                                                                        object
Position                                                                                                                    object
Total years of experience                                                                                                   object
Years of experience in Germany                                                                                              object
Seniority level                                                                                                             object
Your main technology / programming language                                                                                 object
Other technologies/programming languages you use often                                                                      object
Yearly brutto salary (without bonus and stocks) in EUR                                                                     float64
Yearly bonus + stocks in EUR                                                                                                object
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                   float64
Annual bonus+stocks one year ago. Only answer if staying in same country                                                    object
Number of vacation days                                                                                                     object
Employment status                                                                                                           object
Сontract duration                                                                                                           object
Main language at work                                                                                                       object
Company size                                                                                                                object
Company type                                                                                                                object
Have you lost your job due to the coronavirus outbreak?                                                                     object
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                          float64
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR     object
dtype: object

In [5]:
df2= df.copy()
df2.head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN

In [6]:
#dropping unnecesarry columns
df2= df2.drop(['Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR',
             'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
             'Have you lost your job due to the coronavirus outbreak?', 'Employment status', 'Annual bonus+stocks one year ago. Only answer if staying in same country',
             'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
             'Years of experience in Germany'], axis= 1)
df2.head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,Yearly bonus + stocks in EUR,Number of vacation days,Сontract duration,Main language at work,Company size,Company type
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,Senior,TypeScript,"Kotlin, Javascript / Typescript",80000.0,5000,30,Unlimited contract,English,51-100,Product
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,Senior,Ruby,NaN,80000.0,NaN,28,Unlimited contract,English,101-1000,Product
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",120000.0,120000,30,Temporary contract,English,101-1000,Product
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,Junior,Javascript,NaN,54000.0,NaN,24,Unlimited contract,English,51-100,Startup
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,Senior,C# .NET,".NET, SQL, AWS, Docker",62000.0,NaN,29,Unlimited contract,English,101-1000,Product

In [7]:
#renaming column headers
df2= df2.rename(columns={'Timestamp':'timestamp', 'Age':'age', 'Gender':'gender', 'City':'city', 'Position ':'position',
       'Total years of experience':'years_of_experience', 'Seniority level':'seniority_level',
       'Your main technology / programming language':'main_programming_language',
       'Other technologies/programming languages you use often':'alternative_programming_language',
       'Yearly brutto salary (without bonus and stocks) in EUR':'basic_salary',
       'Yearly bonus + stocks in EUR':'gross_salary', 'Number of vacation days':'vacation_days',
       'Сontract duration':'contract_duration', 'Main language at work':'language_at_work', 'Company size':'company_size',
       'Company type':'company_type'})
df2.head()

,timestamp,age,gender,city,position,years_of_experience,seniority_level,main_programming_language,alternative_programming_language,basic_salary,gross_salary,vacation_days,contract_duration,language_at_work,company_size,company_type
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,Senior,TypeScript,"Kotlin, Javascript / Typescript",80000.0,5000,30,Unlimited contract,English,51-100,Product
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,Senior,Ruby,NaN,80000.0,NaN,28,Unlimited contract,English,101-1000,Product
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",120000.0,120000,30,Temporary contract,English,101-1000,Product
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,Junior,Javascript,NaN,54000.0,NaN,24,Unlimited contract,English,51-100,Startup
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,Senior,C# .NET,".NET, SQL, AWS, Docker",62000.0,NaN,29,Unlimited contract,English,101-1000,Product

In [10]:
#dropping on duplicates
df2.shape

(1253, 16)

In [9]:
duplicate_rows= df2[df2.duplicated()]
print('Number of duplicates is: ', duplicate_rows.shape)

Number of duplicates is:  (0, 16)

In [12]:
#dropping null/ missing values
print(df2.isnull().sum())

timestamp                             0
age                                  27
gender                               10
city                                  0
position                              6
years_of_experience                  16
seniority_level                      12
main_programming_language           127
alternative_programming_language    157
basic_salary                          0
gross_salary                        424
vacation_days                        68
contract_duration                    29
language_at_work                     16
company_size                         18
company_type                         25
dtype: int64

In [13]:
df2= df2.dropna()
df2.count()

timestamp                           677
age                                 677
gender                              677
city                                677
position                            677
years_of_experience                 677
seniority_level                     677
main_programming_language           677
alternative_programming_language    677
basic_salary                        677
gross_salary                        677
vacation_days                       677
contract_duration                   677
language_at_work                    677
company_size                        677
company_type                        677
dtype: int64

In [16]:
df2.dtypes

timestamp                            object
age                                 float64
gender                               object
city                                 object
position                             object
years_of_experience                  object
seniority_level                      object
main_programming_language            object
alternative_programming_language     object
basic_salary                        float64
gross_salary                         object
vacation_days                        object
contract_duration                    object
language_at_work                     object
company_size                         object
company_type                         object
dtype: object